{% extends "layout.html" %} {%block content%}
<section class="hero is-dark is-fullheight is-forest">
    <div class="hero-body forest-ground">
        <div class="columns">
            <div class="column is-two-thirds">
                <h1 class="title is-size-1 is-bold has-text-white">¡Aprovecha nuestras ofertas!</h1>
                <p class="subtitle is-size-4 has-text-white">Tenemos descuentos especiales en productos seleccionados. ¡No te los pierdas!</p>
            </div>
            <div class="column">
                <div class="card is-blur">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="../static/img/sencillo.jpg" alt="Producto">
                        </figure>
                    </div>
                    <div class="card-content">
                        <h2 class="title is-size-4">Escucha nuestro sencillo</h2>
                        <p class="subtitle is-size-5">Del Infierno - St. Massacre</p>
                        <a href="https://open.spotify.com/track/3d0NlzKu2sEA43syMGZncL?si=6882f3f8737d466c" class="button is-success is-outlined is-fullwidth is-rounded has-text-weight-bold">Spotify</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<section class="container">
    <hr class="is-divider">

    <section class="section is-quarzo">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-narrow">
                    <div class="vertical-text">2023</div>
                </div>
            </div>
        </div>
    </section>

    <hr class="is-divider">
</section>
{%endblock%}